/*options*/

#baseTable{
  border-collapse: collapse;
}

#baseTable > tr > td{
  padding:0.3rem;
  border: 1px solid #000;
}

.modeView{
  text-align: center;
}

.fromDirname,
.toDirname,
.toDirnameMore{
  display: none;
}

.modeDir .fromDirname,
.modeDir .toDirname,
.modeDir .toDirnameMore{
  display: inline;
}
